@using loowootech.AtlasWeb.Manager
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Feature/_LayoutOfFeature.cshtml";
    string LayerName = ViewBag.LayerName;
    int ID = ViewBag.ID;
    Dictionary<string, string> values = ViewBag.FeatureValues;
    List<loowootech.AtlasWeb.Manager.FieldInfo> list = ViewBag.list;
}

<div class="container">
    <form class="form-horizontal" method="post" id="Feature-Delete" action="/Feature/DeleteOfConfirm">
        <fieldset disabled>
            @foreach (var item in list)
            {
                <div class="form-group">
                    <label for="@(item.Name)" class="col-lg-2 control-label">@(item.Title)</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" name="@(item.Name)" value="@(values.ContainsKey(item.Name)?values[item.Name].ToString():"")" />
                    </div>
                </div>
            }
        </fieldset>
        <input type="text" name="LayerName" value="@LayerName" style="display:none;" />
        <input type="text" name="ID" value="@ID" style="display:none;" />
        <input type="text" name="Flag" value="true" style="display:none" />
        <div class="form-group">
            <label class="col-lg-2 control-label">是否确认删除？</label>
            <div class="col-lg-3">
                <input type="button" class="btn btn-danger" id="deleteButton" value="删除" />
                <a href="javascript:hideDialog();" class="btn btn-default">取消</a>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $("#deleteButton").click(function () {
            var btn = $(this);
            btn.val("正在删除");
            btn.attr("disabled", true);
            var data = $("#Feature-Delete").serialize();
            $.post("/Feature/Delete",data, function (json) {
                var obj = JSON.parse(json);
                if (obj.result) {
                    alert("删除成功");
                    hideDialog();
                } else {
                    alert(obj.message);
                }
            })
        })
    })

    function hideDialog() {
        window.parent.application.hideDeleteModal()
    }
</script>
