@using loowootech.AtlasWeb.Manager
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Feature/_LayoutOfFeature.cshtml";
    string layerName = ViewBag.LayerName;
    Dictionary<string, string> values = ViewBag.FeatureValues;
    List<loowootech.AtlasWeb.Manager.FieldInfo> list = ViewBag.list;
    Dictionary<string, string> Dict = ViewBag.Dict;
}


<div class="container">
    <form class="form-horizontal" method="post" action="/Feature/Edit" id="Feature-Edit">
        @foreach (var item in list)
        {
            <div class="form-group">
                <label for="@(item.Name)" class="col-lg-2 control-label">@(item.Title)</label>
                @if (Dict.ContainsKey(item.Name))
                {
                    <div class="col-lg-3">
                        <input type="text" class="form-control" name="@(item.Name)" value="@Dict[item.Name]" />
                    </div>
                }
                else
                {
                    switch (item.Type)
                    {
                        case FieldTypeEnum.String:
                            <div class="col-lg-3">
                                <input type="text" class="form-control" name="@(item.Name)" value="@(values.ContainsKey(item.Name)?values[item.Name]:"")" />
                            </div>
                            break;
                        case FieldTypeEnum.Date:
                        <div class="col-lg-3">
                            <input type="text" class="form-control datepicker" name="@(item.Name)" value="@(values.ContainsKey(item.Name)?values[item.Name].ToString():"")" />
                        </div>
                            break;
                        case FieldTypeEnum.Double:
                        <div class="col-lg-3">
                            <input type="text" class="form-control" name="@(item.Name)" title="Double" />
                        </div>
                            break;
                        case FieldTypeEnum.Int:
                        <div class="col-lg-3">
                            <input type="text" class="form-control" name="@(item.Name)" title="Int" />
                        </div>
                            break;
                        default: break;
                    }
                }
               


            </div>
        }
        <input type="text" name="LayerName" value="@layerName" style="display:none" />
        <input type="text" name="ID" value="@ViewBag.ID" style="display:none" />
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <input type="button" value="修改" class="btn btn-primary" id="EditButton" />
                @if (layerName.ToLower() == "地籍房屋层".ToLower())
                {
                    <a href="/Feature/SearchOfResident?LayerName=@layerName&&ID=@ViewBag.ID&&Flag=true" class="btn btn-success">从户籍系统导入</a>
                }
                
                <a href="javascript:hideDialog();" class="btn btn-default" style=""><i class="glyphicon glyphicon-remove"></i>&nbsp;取消</a>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $(".datepicker").datepicker();

        $("[title=Double]").blur(function () {
            var value = $(this).val();
            if (value == "" || value == null || value == undefined) {
                alert("请输入值");
            }
            var re = new RegExp("^([+-]?)\\d*\\.\\d+$", "g");
            if (re.exec(value) != null) {
                return true;
            } else {
                alert("请输入双精度类型");
                $(this).val("");
            }
        });

        $("[title=Int]").blur(function () {
            var value = $(this).val();
            if (value == "" || value == null || value == undefined) {
                alert("请输入值");
            }

            var re = new RegExp("^([+-]?)\\d*$", "g");

            if (re.exec(value)) {
                return true;
            } else {
                alert("请输入整数");
                $(this).val("");
            }

        });


        $("#EditButton").click(function () {
            var data = $("#Feature-Edit").serialize();
            $.post("/Feature/Edit", data, function (json) {
                var obj = JSON.parse(json);
                if (obj.result) {
                    alert("编辑成功");
                    hideDialog();
                } else {
                    alert(obj.message);
                }
            });
        });
    })

    function hideDialog() {
        window.parent.application.hideEditModal()
    }
</script>