@using loowootech.AtlasWeb.Manager
@{
    ViewBag.Title = "SeachOfResident";
    Layout = "~/Views/Feature/_LayoutOfFeature.cshtml";
    List<loowootech.AtlasWeb.Manager.FieldInfo> Results = ViewBag.Results;
    string key = ViewBag.Key;
    string LayerName = ViewBag.LayerName;
    int ID = ViewBag.ID;
    int SerialNumber = 1;
}

<div class="container">
    <form class="form-horizontal" method="post" action="/Feature/SearchOfResident">
        <div class="form-group">
            <label for="Key" class="col-lg-2 control-label">输入关键字</label>
            <div class="col-lg-3">
                <input type="text" name="Key" class="form-control" value="@key" />
            </div>
        </div>
        <input type="text" name="LayerName" value="@LayerName" style="display:none" />
        <input type="text" name="ID" value="@ID" style="display:none" />
        <input type="text" name="Flag" value="@(ViewBag.Flag?"true":"false")" style="display:none" />
        @if (Results.Count != 0)
        {
            <table class="table">
                <tr>
                    <th>序号</th>
                    <th>使用者</th>
                    <th>身份证号码</th>
                    <th>备注</th>
                </tr>
                @foreach (var item in Results)
                {
                    <tr>
                        <td>@(SerialNumber++)</td>
                        <td>@(item.Name)</td>
                        <td>@(item.Title)</td>
                        <td>
                            @if (ViewBag.Flag)
                            {
                                <a href="/Feature/Edit?LayerName=@LayerName&&ID=@ID&&SYZ=@(item.Name)&&SFZHM=@(item.Title)" class="btn btn-success btn-xs">使用</a>
                            }
                            else
                            {
                                <a href="/Feature/Add?LayerName=@LayerName&&ID=@ID&&SYZ=@(item.Name)&&SFZHM=@(item.Title)" class="btn btn-success btn-xs">使用</a>
                            }
                        </td>
                    </tr>
                }
            </table>
        }

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <input type="submit" value="搜索" class="btn btn-primary" />
                @if (ViewBag.Flag)
                {
                    <a href="/Feature/Edit?LayerName=@LayerName&&ID=@ID" class="btn btn-default">返回</a>
                }
                else
                {
                    <a href="/Feature/Add?LayerName=@LayerName&&ID=@ID" class="btn  btn-default">返回</a>
                }
                
            </div>
        </div>
    </form>

</div>
